<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/21.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/21.html</string>
		<key>info</key>
		<string>2015年12月1日上午，全区中小学温馨班级创建评比交流活动在20中学、光明街小学、泉城花园小学、阳光100小学、大金小学分四组如期举行</string>
		<key>title</key>
		<string>2015年区温馨班级创建评比交流活动圆满结束</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/22.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/22.html</string>
		<key>info</key>
		<string>初冬时节，细雨潇潇。11月21～22日，全美最佳教师雷夫全国教育巡讲济南站培训活动在历城区洪家楼小学举行</string>
		<key>title</key>
		<string>槐荫教师参加雷夫全国教育巡讲济南站培训活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/23.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/23.html</string>
		<key>info</key>
		<string>推进校际联盟活动 描绘共同发展蓝图</string>
		<key>title</key>
		<string>槐荫区初中校际联盟交流活动在三十中举行</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/24.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/24.html</string>
		<key>info</key>
		<string>区教育局职成教科会同区政府教育督导室，于11月19日至30日，对全区16个街道办事处的社区教育情况进行了专项督导检查</string>
		<key>title</key>
		<string>槐荫区开展社区教育督导评估检查工作</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/25.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/25.html</string>
		<key>info</key>
		<string>槐荫区全体美术教师风雪无阻，集聚槐荫实验小学，观摩了一节由美术中心组成员、纬十路小学美术教师李霞老师执教的展示研讨课。</string>
		<key>title</key>
		<string>槐荫区美术名师课堂教学展示研讨活动圆满结束</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/26.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/26.html</string>
		<key>info</key>
		<string>2015年11月23日槐荫区首届心理健康“超级教师”讲课赛在区青少年宫拉开帷幕，</string>
		<key>title</key>
		<string>槐荫区首届心理健康“超级教师”讲课赛雪中绽放</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/27.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/27.html</string>
		<key>info</key>
		<string>2015年11月25日下午两点，银装素裹的城市再次与雪共舞，槐荫区学前教育区本教研专家组成员如约在济南市机车车辆厂幼儿园，展开了一场浪漫而热烈的教研活动。

</string>
		<key>title</key>
		<string>槐荫区学前教育区本教研活动进行时</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/28.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/28.html</string>
		<key>info</key>
		<string>槐荫区区本教研专家组的业务园长和各园骨干教师在槐荫区教育局教学前研员景萍老师的组织与号召下，如期来到槐荫区礼乐佳苑幼儿园，现场观摩一场别开生面的“园本教研”活动。</string>
		<key>title</key>
		<string>槐荫学前区本教研活动现场教研观摩会拉开帷幕</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/29.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/29.html</string>
		<key>info</key>
		<string>济南市教育教学研究院张慧玲老师、槐荫区教育局教研室景萍老师，来到了槐荫区实验幼儿园，进行了富有时效又接地气的教育教学的调研活动。

</string>
		<key>title</key>
		<string>市区教研员到实幼开展教育教学调研活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/30.jpg</string>
		<key>type</key>
		<string>0</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/30.html</string>
		<key>info</key>
		<string>党的十八届五中全会是在协调推进“四个全面”战略布局、全面建成小康社会决胜阶段召开的一次十分重要的会议，学习宣传贯彻全会精神是教育系统的一项重大政治任务。</string>
		<key>title</key>
		<string>我区组织学习收看济南市中学思想品德、思想政治和德育课学习宣传贯彻党的十八届五中全会精神报告会</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/31.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/31.html</string>
		<key>info</key>
		<string> 2015年12月3日上午，平阴县教育局电教站刘少林站长和相关工作人员，及平阴县部分校长一行六人来到济南市德兴街小学，</string>
		<key>title</key>
		<string>德兴街小学举行爱书人教学平台展示课活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/32.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/32.html</string>
		<key>info</key>
		<string>12月2日下午，古城实验学校六年级一班雏鹰中队在班级家委会主任的带领下，开展了家校联手，构建优秀中队活动。家委会主任为同学们请来了团队建设专家秦老师。</string>
		<key>title</key>
		<string>古城实验学校雏鹰中队开展家委会活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/33.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/33.html</string>
		<key>info</key>
		<string>12月3日下午，古城实验学校召开了鼓号队表彰会，学校领导、指导老师和全体鼓号队员们参加了这次表彰会。</string>
		<key>title</key>
		<string>古城实验学校召开鼓号队表彰会</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/34.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/34.html</string>
		<key>info</key>
		<string>为了让每位家长参与学校管理，了解孩子的学习与生活，了解每位教师的工作，经七一·粼湖居校区举行建校以来第一次家长开放日活动。</string>
		<key>title</key>
		<string>经七一小·粼湖居校区开展家长开放日活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/35.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/35.html</string>
		<key>info</key>
		<string>为进一步加强学生的法制观念，认真开展好“12.4”全国法制宣传日活动，济南市泉城花园小学举办了法律知识宣讲活动。</string>
		<key>title</key>
		<string>泉城花园小学举行法制宣传讲座</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/36.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/36.html</string>
		<key>info</key>
		<string>2015年12月3日，山东中医药大学心灵港湾成员一行14人来到育华中学，对初一年级一至六班开展了本学期第四次心理成长活动。</string>
		<key>title</key>
		<string>心灵港湾育华邀你感悟父母之情、老师之义</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/37.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/37.html</string>
		<key>info</key>
		<string>12月4日上午，新世界小学隆重举行了“我运动.我健康.我快乐” 冬季长跑活动启动仪式。</string>
		<key>title</key>
		<string>新世界小学举行“我运动.我健康.我快乐”冬季长跑活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/38.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/38.html</string>
		<key>info</key>
		<string>近日，济南市阳光100小学四年级二班全体学生在家委会的组织下，参观了济南南郊热电厂，现场聆听工作人员讲解与居民供暖相关的知识。</string>
		<key>title</key>
		<string>阳光100小学组织南郊热电厂参观实践活动</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/39.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/39.html</string>
		<key>info</key>
		<string>培养学生养成并巩固良好的书写习惯，济南市阳光100小学于12月2日组织专业教师对全校1—6年级学生作业书写进行了检查。</string>
		<key>title</key>
		<string>阳光100小学组织书写质量检测</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/40.jpg</string>
		<key>type</key>
		<string>1</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/40.html</string>
		<key>info</key>
		<string>12月3日，阳光100中学本学期第五次敞开校门，开展建校四年以来的第四届家长开放日活动。校园的每一个角落，学校的每一节课堂都向家长开放。</string>
		<key>title</key>
		<string>阳光100中学举办第四届家长开放日</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/41.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/41.html</string>
		<key>info</key>
		<string>2015年济南市高中阶段学校招生，第二次志愿填报时，普通高中首次实施“平行志愿”填报办法。</string>
		<key>title</key>
		<string>【解读】2015济南普通高中招生“平行志愿”那些事儿</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/42.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/42.html</string>
		<key>info</key>
		<string>山东省2013年省外院校艺术类专业测试(以下简称”艺考”)工作即将开始,</string>
		<key>title</key>
		<string>2013年省外艺考基本情况</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/43.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/43.html</string>
		<key>info</key>
		<string>为积极推进义务教育课程改革，全面实施素质教育</string>
		<key>title</key>
		<string>2015年济南市初中信息技术课学业水平考试实施方案</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/44.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/44.html</string>
		<key>info</key>
		<string>2014年全国成人高校招生统一考试于10月26日圆满结束。</string>
		<key>title</key>
		<string>成人高校招生考试工作圆满结束</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/45.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/45.html</string>
		<key>info</key>
		<string>近日，有部分考生及家长咨询民办普通高中学校招生及收费情况，为便于广大家长根据自身实际，科学选择志愿，现将全市民办普通高中学校学费及志愿填报办法公布如下：</string>
		<key>title</key>
		<string>关于民办普通高中学校收费标准及志愿填报办法的公告</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/46.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/46.html</string>
		<key>info</key>
		<string>关于做好2015年12月全省普通高中学业水平考试报名等工作的通知</string>
		<key>title</key>
		<string>关于做好2015年12月全省普通高中学业水平考试报名等工作的通知</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/47.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/47.html</string>
		<key>info</key>
		<string>2015年6月全省普通高中学业水平考试将于6月26日—7月1日进行。考试实行网上报名、网上缴费。现将考试具体时间安排及报名工作有关事项通知如下：</string>
		<key>title</key>
		<string>关于做好山东省2015年6月普通高中学业水平考试时间安排及报名工作的通知</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/48.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/48.html</string>
		<key>info</key>
		<string>济南市2014年高中阶段学校招生第三次志愿填报录取情况的说明</string>
		<key>title</key>
		<string>济南市2014年高中阶段学校招生第三次志愿填报录取情况的说明</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/49.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/49.html</string>
		<key>info</key>
		<string>济南市2015年6月普通高中学业水平考试详情

考 生 告 知 书</string>
		<key>title</key>
		<string>济南市2015年6月普通高中学业水平考试考生告知书</string>
	</dict>
	<dict>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/50.jpg</string>
		<key>type</key>
		<string>2</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/50.html</string>
		<key>info</key>
		<string>山东省2015年普通高考照顾政策详情</string>
		<key>title</key>
		<string>山东省2015年普通高考照顾政策</string>
	</dict>
</array>
</plist>
