<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/11.jpg</string>
		<key>info</key>
		<string>对于每位学生而言，一项喜欢的活动、一门心仪的课程、一位值得尊敬的良师，或许能让他们爱上学校、爱上学习，</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/11.html</string>
		<key>title</key>
		<string>济南时报——十年磨一剑 古城中学成西部新城区亮点</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/12.jpg</string>
		<key>info</key>
		<string>济南市槐荫区区委常委、副区长吴力在槐荫区教育局副局长刘如军的陪同下来到了济南九职专，为全体教师送来槐荫区政府的关怀和鼓励。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/12.html</string>
		<key>title</key>
		<string>济南市槐荫区：教师节赴学校为教师送节日祝福</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/13.jpg</string>
		<key>info</key>
		<string>从2009年将口琴引进校园，到2011年普及学校课程，再到如今取得的骄人成绩。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/13.html</string>
		<key>title</key>
		<string>济南市汇英小学打造口琴文化特色教育、提升学生综合素养</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/14.jpg</string>
		<key>info</key>
		<string>济南市汇英小学四年级中队76名队员赴济南市学生校外实践基地开展了为期一天的素质教育实践活动</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/14.html</string>
		<key>title</key>
		<string>济南市汇英小学开展素质教育实践活动</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/15.jpg</string>
		<key>info</key>
		<string>这是一场别出心裁的新式运动会</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/15.html</string>
		<key>title</key>
		<string>萌萌运动会</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/16.jpg</string>
		<key>info</key>
		<string>今年9月1日新学期开学后，走进学校的师生瞬间被崭新的操场惊呆。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/16.html</string>
		<key>title</key>
		<string>齐鲁晚报----操场变软,学生跑步再也不硌脚了 美里湖第三小学用上高大上的塑胶跑道</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/17.jpg</string>
		<key>info</key>
		<string>每天的家庭作业最多一张A4纸，每周的周末作业不超一张B4纸；学生上交作业不进班，只需将作业放到教室外，然后进教室诵读经典。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/17.html</string>
		<key>title</key>
		<string>齐鲁晚报——济南第26中学教学改革，为学生“增效减负”</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/18.jpg</string>
		<key>info</key>
		<string>9月9日,在第31个教师节来临前,济南市小辛庄小学送给全体老师一份特殊礼物:粉笔字大赛。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/18.html</string>
		<key>title</key>
		<string>齐鲁晚报—小辛庄小学教师节发“福利”了老师赛写字,学生当评委</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/19.jpg</string>
		<key>info</key>
		<string>农历九月初九，既是中国传统的重阳节，又是中国1989年新增订的老人节。“尊老、敬老、爱老、助老”是传统美德。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/19.html</string>
		<key>title</key>
		<string>泉新小学重阳节开展敬老活动 学生文艺演出献老人</string>
	</dict>
	<dict>
		<key>type</key>
		<string>0</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/20.jpg</string>
		<key>info</key>
		<string>11月11日下午，中德诺浩（北京）教育投资有限公司院校合作部副部长周默和项目经理孙绪鹏来学校考察。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/20.html</string>
		<key>title</key>
		<string>中德诺浩（北京）教育投资有限公司到济南九职专考察合作</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/1.jpg</string>
		<key>info</key>
		<string>槐荫区大金小学的半球运动发展可谓是当代中小学课外体育运动发展的一个代表。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/1.html</string>
		<key>title</key>
		<string>乘风破浪潮头立，扬帆起航正当时——记济南市槐荫区大金小学的板球运动发展</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/2.jpg</string>
		<key>info</key>
		<string>济南市泉城花园小学打造高品质“童趣”课堂</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/2.html</string>
		<key>title</key>
		<string>打造“童趣”课堂,学生会学又乐学</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/3.jpg</string>
		<key>info</key>
		<string>热烈槐荫区教育基地启动仪式成功举行</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/3.html</string>
		<key>title</key>
		<string>济南槐荫区教育基地启动仪式在济南九职专举行</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/4.jpg</string>
		<key>info</key>
		<string>济南九职专全体师生在槐荫体育场举行了隆重的开学典礼暨军训开营仪式。副校长孙全主持了开学典礼</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/4.html</string>
		<key>title</key>
		<string>济南九职专：把爱国主义作为开学第一课</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/5.jpg</string>
		<key>info</key>
		<string>在正式开学前，济南九职专全体教职员工就收到了学校特意奉上的别样礼物——三堂精彩的专家报告会。</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/5.html</string>
		<key>title</key>
		<string>济南九职专开学伊始送老师们别样礼物</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/6.jpg</string>
		<key>info</key>
		<string>济南九职专汽车工程系12名学生在老师的带领下，到济南市育园学校进行志愿服务活动</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/6.html</string>
		<key>title</key>
		<string>济南九职专师生走进育园学校 奉献爱心阳光助残</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/7.jpg</string>
		<key>info</key>
		<string>她，是土生土长的农村孩子，也是坚守35年的农村教师。她了解农村教育条件的艰困</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/7.html</string>
		<key>title</key>
		<string>济南日报----35年坚守农村讲堂 周王小学教师李德凤</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/8.jpg</string>
		<key>info</key>
		<string> “快看！我的纸飞机在空中飞了30多秒！”在槐荫区古城实验小学的校园里，一位学生指着天空激动地向老师大喊着</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/8.html</string>
		<key>title</key>
		<string>济南日报----古城实验学校让学生与航模一起空中翱翔</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/9.jpg</string>
		<key>info</key>
		<string>济南市饮马小学自2011年建校以来，直面新区城市化进程，以“博以学文、专以致远”的办学理念在几年内迅速崛起，为新区带来了蓬勃的朝气。
济南市饮马小学自2011年建校以来，直面新区城市化进程，以“博以学文、专以致远”的办学理念在几年内迅速崛起，为新区带来了蓬勃的朝气。
</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/9.html</string>
		<key>title</key>
		<string>济南日报——打造西区基础教育“金名片”</string>
	</dict>
	<dict>
		<key>type</key>
		<string>1</string>
		<key>photo</key>
		<string>http://aishengpc.zzxb.me/newsdemo/10.jpg</string>
		<key>info</key>
		<string>在山东省济南第十九中学，提起物理教研组的7位老师，从校长到老师再到学生都竖大拇指济南市饮马小学自2011年建校以来，直面新区城市化进程，以“博以学文、专以致远”的办学理念在几年内迅速崛起，为新区带来了蓬勃的朝气。
</string>
		<key>address</key>
		<string>http://aishengpc.zzxb.me/newsdemo/10.html</string>
		<key>title</key>
		<string>济南时报——从一个组走出3个省优名师看十九中物理组</string>
	</dict>
</array>
</plist>
