<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadImageAction</servlet-name>
    <servlet-class>com.footmark.action.UploadImageAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadImageAction2</servlet-name>
    <servlet-class>com.footmark.action.UploadImageAction2</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>UploadImageAction</servlet-name>
    <url-pattern>/servlet/UploadImageAction</url-pattern>
  </servlet-mapping>

</web-app>