<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>optArr</key>
		<array>
			<dict>
				<key>optId</key>
				<string>1</string>
				<key>title</key>
				<string>A.不多</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>2</string>
				<key>title</key>
				<string>B.太多了</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>3</string>
				<key>title</key>
				<string>C.还可以</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>4</string>
				<key>title</key>
				<string>D.无所谓</string>
				<key>status</key>
				<string>0</string>
			</dict>
		</array>
		<key>title</key>
		<string>今天的作业是不是太多了？</string>
		<key>status</key>
		<string>0</string>
		<key>queId</key>
		<string>1</string>
	</dict>
	<dict>
		<key>optArr</key>
		<array>
			<dict>
				<key>optId</key>
				<string>1</string>
				<key>title</key>
				<string>A.不多</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>2</string>
				<key>title</key>
				<string>B.太多了</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>3</string>
				<key>title</key>
				<string>C.还可以</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>4</string>
				<key>title</key>
				<string>D.无所谓</string>
				<key>status</key>
				<string>0</string>
			</dict>
		</array>
		<key>title</key>
		<string>今天的作业题目是不是太难了？</string>
		<key>status</key>
		<string>0</string>
		<key>queId</key>
		<string>2</string>
	</dict>
	<dict>
		<key>optArr</key>
		<array>
			<dict>
				<key>optId</key>
				<string>1</string>
				<key>title</key>
				<string>A.不多</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>2</string>
				<key>title</key>
				<string>B.太多了</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>3</string>
				<key>title</key>
				<string>C.还可以</string>
				<key>status</key>
				<string>0</string>
			</dict>
			<dict>
				<key>optId</key>
				<string>4</string>
				<key>title</key>
				<string>D.无所谓</string>
				<key>status</key>
				<string>0</string>
			</dict>
		</array>
		<key>title</key>
		<string>今天你吃饱了么？</string>
		<key>status</key>
		<string>0</string>
		<key>queId</key>
		<string>3</string>
	</dict>
</array>
</plist>
